[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/winter/installtrizen.sh]
row=0
col=1

[EC5A0F8D5A0F542C]
row=4
col=0

[3516-4437]
row=2
col=0

[F201-25C7]
row=0
col=0

[2A6C7A166C79DD4F]
row=5
col=0

[7749AE8D163171E5]
row=3
col=0

[3fbcf214-ab5e-44a5-91c7-4dcafb7f99ca]
row=1
col=0

[Trash]
row=6
col=0

[/]
row=7
col=0

[/home/winter]
row=8
col=0

